@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script>
    $(document).ready(function(){
    $('#myTable').DataTable();
    });
    </script>
}

<div class="ml15 mr15 mt10 mb100">
    <div class="row">
        <div class="col-md-6">
            <h2>Orders</h2>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success btn-lg mr10 mb10 pull-right   " asp-area="" asp-controller="Home" asp-action="Create"><i class="fa fa-plus "></i> Add New</a>
          
        </div>

        </div>
    
    <div class="row mt15">
        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-2">Client Name</th>
                    <th class="col-md-2">Phone</th>
                    <th class="col-md-1">Order Date</th>
                    <th class="col-md-1 ">Amount</th>
                    <th class="col-md-1 ">Type</th>
                    <th class="col-md-2 text-center">Status</th>
                    <th class="col-md-2 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Laila Ali</td>
                    <td>972-666-5555</td>
                    <td>01-20-2017</td>
                    <td>$300</td>
                    <td>Custom</td>
                    <td>
                        <select class="form-control">
                            <option>Pending</option>
                            <option>In Process</option>
                            <option>Received</option>
                            <option>Delivered</option>
                            <option>Complete</option>
                            <option>Cancel</option>
                        </select>
                    </td>
                    <td>
                        <a  class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Edit"><i class="fa fa-eye "></i> </a>
                        <button type="button" class="btn btn-default  "><i class="fa fa-newspaper-o "></i> </button>
                        <button type="button" class="btn btn-warning "><i class="fa fa-print "></i> </button>
                    </td>



                </tr>
            </tbody>
        </table>
    </div>
        </div>

