<div class="container" >
     <div class="mp-pusher" id="mp-pusher">
      
         <app-navmenu></app-navmenu>
         <div id="divContent" class="scroller">
             <div class="scroller-inner ml15">
                <router-outlet></router-outlet>
             </div>
             </div>
         </div>
     </div>
   
    <footer class="main ">
        <div class="footer-copyright sticky-footer">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="ml15">Copyright © 2016, All Rights Reserved Powerd @@ Cephic Inc </p>
                </div>

            </div>

        </div>
    </footer>

  