<div class="ml15 mr15 mt10 mb100">
    <div class="row">
        <div class="col-md-6">
            <h2>Shipper</h2>
        </div>
        <div class="col-md-6">


        </div>

    </div>
    <div class="row mt15">
        <div class="col-md-6">
            <div class="col-md-6">
                
                <div class="row form-group mr10">
                    <div class="input-group">
                        <span class="input-group-addon bgblue">Shipper Name</span>

                        <input class="text form-control "/>
                    </div>
                    </div>
                <div class="row form-group mr10">
                    <div class="input-group">
                        <span class="input-group-addon bgblue">Contact Person</span>

                        <input class="text form-control " />
                    </div>
                </div>
                <div class="row form-group mr10">
                    <div class="input-group">
                        <span class="input-group-addon bgblue">Phone Number</span>

                        <input class="text form-control " />
                    </div>
                </div>
                <div class="row form-group mr10">
                    <div class="input-group">
                        <span class="input-group-addon bgblue">Email</span>

                        <input class="text form-control " />
                    </div>
                </div>
                <div class="row form-group mr10">
                    <div class="input-group">
                        <span class="input-group-addon bgblue">Billing URL</span>

                        <input class="text form-control " />
                    </div>
                </div>
                <div class="row form-group mr10">
                    <div class="input-group">
                        <span class="input-group-addon bgblue">Username</span>

                        <input class="text form-control " />
                    </div>
                </div>
                <div class="row form-group mr10">
                    <div class="input-group">
                        <span class="input-group-addon bgblue">Password</span>

                        <input class="text form-control " />
                    </div>
                </div>
                
                <div class="row form-group mr10">
                    <button type="button" class="btn btn-success  "><i class="fa fa-save "></i>&nbsp;&nbsp; Save &nbsp;&nbsp;</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-3">Shipper</th>
                        <th class="col-md-3">Contact</th>
                        <th class="col-md-2">Phone Number</th>
                        <th class="col-md-3 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                       
                        <td>Fedex</td>
                        <td>Jhon Kush</td>
                        <td>1-972-670-0541</td>
                       
                        <td>

                            <button type="button" class="btn btn-warning col-lg-push-6  "><i class="fa fa-edit "></i> </button>
                        </td>



                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>