@{
    ViewData["Title"] = "Setup";
}
@section scripts{
    <script>
        $(".edit").on("click", function () {
            $(this).parents("form").addClass("editing");
        });
        $(".cancel").on("click", function () {
            $(this).parents("form").removeClass("editing");
        });
        (function () {
            var form = document.querySelector("form"),
                editButton = document.querySelector(".edit"),
                cancelButton = document.querySelector(".cancel");

            editButton.addEventListener("click", function () {
                form.classList.add("editing");
            });
            cancelButton.addEventListener("click", function () {
                form.classList.remove("editing");
            });
        }());
    </script>


}
<style>
    .cancel, .save, input, select, .MP4 {
        display: none;
    }

    .editing .save,
    .editing .cancel,
    .editing .MP4,
    .editing input,
    .editing select {
        display: inline-block;
    }

    .editing .edit,
    .editing .display {
        display: none;
    }

    input, select {
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>
<form>
    <div class="ml15 mr15 mt10 mb100">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-3">
                    <h2>New Size</h2>

                </div>
                <div class="col-md-5 mt10">
                    <div class="row form-group mr10 mt10">
                        <div class="input-group">
                            <span class="input-group-addon pt10 pb10 bgblue">Descriptive Name</span>
                            <input type="text" value="Small" required />
                            <span class="input-group-addon display  ">Small</span>

                        </div>
                    </div>
                 
                </div>
                <div class="col-md-2  mt10">
                    <div class="row form-group mt10 mr10">
                        <div class="input-group">
                            <span class="input-group-addon pt10 pb10 bgred">Gender</span>
                            <select>
                                <option>Male</option>
                                <option>Female</option>
                              
                            </select>
                            <span class="input-group-addon display  ">Male</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-2 mt10">
                    <div class="row form-group  mt10">
                        <div class="input-group">
                            <span class="input-group-addon pt10 pb10 bgred">Size Type</span>
                            <select>
                                <option>USA</option>
                                <option>UK</option>
                            </select>
                            <span class="input-group-addon display  ">USA</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">

                <a class="btn btn-danger btn-lg mr10 mt15 pull-right " asp-area="" asp-controller="Size" asp-action="Index"><i class="fa fa-home "></i> Home</a>
                <a class="btn btn-danger btn-lg mr10 mt15 pull-right cancel" href="#"><i class="fa fa-minus "></i> Cancel</a>
                <a class="btn btn-success btn-lg mr10 mt15 pull-right cancel" href="#"><i class="fa fa-save"></i> Save</a>
                <a class="btn btn-warning btn-lg mr10 mt15 pull-right edit " href="#"><i class="fa fa-edit"></i> Edit</a>

            </div>

        </div>
        <hr />
        <div class="row ml10 ">
            <p class="h4 text-danger">All Measurement In Inches</p>
            <div class="col-md-3">

                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">1. Height </span>
                        <input type="text" value="5.4" required />
                        <span class="input-group-addon display  ">5.4</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">2. Neck Depth Front )</span>
                        <input type="text" value="22" required />
                        <span class="input-group-addon display  ">22</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">2A. Neck Depth Back</span>
                        <input type="text" value="20" required />
                        <span class="input-group-addon display  ">20</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">3. Shoulders </span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">4. Shoulders to Waist</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">4A. Shoulders to Knee</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                        <span class="text-danger MP4 ml10 mt10 h5">Top Length- As Per Required</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">5. Armhole</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">6. Sleeve Length</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                        <span class="text-danger ml10 mt10 h5 MP4">As Required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">7. Sleeve Bottom</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                        <span class="text-danger ml10 mt10 MP4 h5">Around</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">8. Above Breast</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                        <span class="text-danger ml10 mt10 MP4 h5">Around</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">9. Around Breast</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>

                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">10. Below Breast</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                        <span class="text-danger ml10 mt10 MP4 h5">Around</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">11. Around Waist</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">12. Around Hips</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                    </div>
                </div>

                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">13. Around Thighs</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                        <span class="text-danger ml10 mt10 MP4 h5">For Chudhidhar / Paints</span>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">14. Around Knees</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                        <span class="text-danger ml10 mt10 MP4 h5">For Chudhidhar / Paints</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">15. Around Calves</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                        <span class="text-danger ml10 mt10 MP4 h5">For Chudhidhar / Paints</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">16. Ankle Bottom</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                        <span class="text-danger ml10 mt10 MP4 h5">For Chudhidhar / salwar / Paints</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">17. Waist To Feet</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                        <span class="text-danger ml10 MP4 mt10 h5">Chudhidhar / Salwar / Paints<br /> &nbsp;&nbsp;&nbsp; (Length with Sandals)</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">18. Fork Length</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                    </div>
                </div>
                <div class="form-group mt10">
                    <div class="input-group ">
                        <span class="input-group-addon pt10 pb10 bgblue">19. Inseam</span>
                        <input type="text" value="32" required />
                        <span class="input-group-addon display  ">32</span>
                    </div>
                </div>


            </div>
            <div class="col-md-3">

                <img src="~/images/BodySize.png" />
            </div>
        </div>


    </div>
</form>