@{
    ViewData["Title"] = "Setup";
}
@section Scripts {
    <script>
    $(document).ready(function(){
    $('#myTable').DataTable();
    });
    </script>
}

<div class="ml15 mr15 mt10 mb100">
    <div class="row">
        <div class="col-md-6">
            <h2>Default Sizes</h2>
        </div>
        <div class="col-md-6">
            <a class="btn btn-warning btn-lg pull-right mt15 " asp-area="" asp-controller="Size" asp-action="Create"><i class="fa fa-female "></i> New Size</a>

        </div>

    </div>

    <div class="row mt15">
        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th class="col-md-1">#</th>
                    <th class="col-md-2">Description</th>
                    <th class="col-md-2">Country</th>
                    <th class="col-md-2">Gender</th>
                    <th class="col-md-1 ">Size</th>
                    <th class="col-md-1 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Small</td>
                    <td>Pakistan</td>
                    <td>Female</td>
                    <td>4</td>

                    <td>
                        <a class="btn btn-info" asp-area="" asp-controller="Size" asp-action="Edit"><i class="fa fa-eye"></i> </a>

                    </td>



                </tr>
            </tbody>
        </table>
    </div>
</div>

