      
  <div class="row">
            <div class="block topBar">
                <span><a href="#" id="trigger" class="menu-trigger" onclick="OpenSunMenu();"></a></span>
            </div>
        </div>
<nav id="mp-menu" class="mp-menu">
        <div class="mp-level">
            <h2 class="icon icon-world" style="color:white">All Categories</h2>
            <ul>
                <li class="" [routerLinkActive]="['link-active']"><a class="icon icon-display" [routerLink]="['/orders']">Orders</a></li>
                <li class="icon icon-arrow-left">
                    <a class="icon icon-settings" href="#">SetUp</a>
                    <div class="mp-level" id="2" onclick="setTitle(2);">
                        <h2 class="icon icon-settings" style="color:white">Setup</h2>
                        <a class="mp-back" href="#" onclick="setTitle(0);">back</a>
                        <ul>
                            <li><a class="icon icon-location" asp-area="" asp-controller="Setup" asp-action="Index" id="21" onclick="setTitle(21);">Company</a></li>
                            <li><a class="icon icon-clip" asp-area="" asp-controller="Setup" asp-action="Department" id="22" onclick="setTitle(22);">Department</a></li>
                            <li><a class="icon icon-eye" asp-area="" asp-controller="Setup" asp-action="SubDepartment" id="23" onclick="setTitle(23);">Sub Department</a></li>
                            <li><a class="icon icon-location" asp-area="" asp-controller="Setup" asp-action="MainMenue" id="24" onclick="setTitle(24);">Main Menu</a></li>
                            <li><a class="icon icon-pen" asp-area="" asp-controller="Setup" asp-action="Color" id="25" onclick="setTitle(25);">Color Group</a></li>
                            <li><a class="icon icon-bubble" asp-area="" asp-controller="Setup" asp-action="Fabrics" id="26" onclick="setTitle(26);">Fabrics</a></li>
                            <li><a class="icon icon-truck" asp-area="" asp-controller="Setup" asp-action="Shipper" id="27" onclick="setTitle(27);">Shipper</a></li>
                            <li class="icon icon-arrow-left">
                                <a class="icon icon-female" href="#">Size</a>
                                <div class="mp-level" id="28" onclick="setTitle(28);">
                                    <h2 style="color:white">Size</h2>
                                    <a class="mp-back" href="#" onclick="setTitle(29;">back</a>
                                    <ul>
                                        <li><a class="icon icon-banknote" asp-area="" asp-controller="Size" asp-action="Index" id="31" onclick="setTitle(31);">Size</a></li>
                                        <li><a class="icon icon-mail" asp-area="" asp-controller="Size" asp-action="SizeType" id="32" onclick="setTitle(32);">Size Type</a></li>

                                    </ul>
                                </div>
                            </li>



                        </ul>
                    </div>
                </li>

                <li><a class="icon icon-calendar" asp-area="" asp-controller="Vendor" asp-action="Index">Vendor</a></li>
                <li><a class="icon icon-data" asp-area="" asp-controller="Item" asp-action="Index">Items</a></li>
                <li><a class="icon icon-user" asp-area="" asp-controller="Client" asp-action="Index">Clients</a></li>
                <li><a class="icon icon-banknote" asp-area="" asp-controller="Inventory" asp-action="Index">Inventory</a></li>
                <li class="icon icon-arrow-left">
                    <a class="icon icon-cloud" href="#">Web Portal</a>
                    <div class="mp-level">
                        <h2 style="color:white">Web Portal</h2>
                        <a class="mp-back" href="#">back</a>
                        <ul>
                            <li><a asp-area="" asp-controller="WebPortal" asp-action="Index">Specials</a></li>
                            <li><a asp-area="" asp-controller="WebPortal" asp-action="Clearance">Clearance</a></li>
                            <li><a asp-area="" asp-controller="WebPortal" asp-action="NewArrivals">New Arrivals</a></li>

                        </ul>
                    </div>
                </li>

                <li class="icon icon-arrow-left">
                    <a class="icon icon-camera" href="#">Reports</a>
                    <div class="mp-level">
                        <h2 style="color:white">Report</h2>
                        <a class="mp-back" href="#">back</a>
                        <ul>
                            <li><a asp-area="" asp-controller="Report" asp-action="">Inventory</a></li>
                            <li><a asp-area="" asp-controller="Report" asp-action="">PNL</a></li>
                            <li><a asp-area="" asp-controller="Report" asp-action="">Balance Sheet</a></li>
                            <li><a asp-area="" asp-controller="Report" asp-action="">Drops</a></li>
                            <li><a asp-area="" asp-controller="Report" asp-action="">Deposit</a></li>
                            <li><a asp-area="" asp-controller="Report" asp-action="">Custom</a></li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </nav>