      
  <div class="row">
            <div class="block topBar">
                <span><a href="#" id="trigger" class="menu-trigger" onclick="OpenSunMenu();"></a></span>
            </div>
        </div>
<nav id="mp-menu" class="mp-menu">
        <div class="mp-level">
            <h2 class="icon icon-world" style="color:white">All Categories</h2>
            <ul>
                <li class="" [routerLinkActive]="['link-active']"><a class="icon icon-display" [routerLink]="['/orders']">Orders</a></li>
                <li class="icon icon-arrow-left">
                    <a class="icon icon-settings" href="#">SetUp</a>
                    <div class="mp-level" id="2" onclick="setTitle(2);">
                        <h2 class="icon icon-settings" style="color:white">Setup</h2>
                        <a class="mp-back" href="#" onclick="setTitle(0);">back</a>
                       <ul>
                            <li class="" [routerLinkActive]="['link-active']"><a class="icon icon-location" [routerLink]="['/setup/company']">Company</a></li>
                            <li class=""[routerLinkActive]="['link-active']"><a class="icon icon-clip"  [routerLink]="['/setup/department']">Department</a></li>
                            <li class=""[routerLinkActive]="['link-active']"><a class="icon icon-eye" [routerLink]="['/setup/subdepartment']">Sub Department</a></li>
                            <li class=""[routerLinkActive]="['link-active']"><a class="icon icon-location"[routerLink]="['/setup/mainmenu']">Main Menu</a></li>
                            <li class=""[routerLinkActive]="['link-active']"><a class="icon icon-pen" [routerLink]="['/setup/colorgroup']">Color Group</a></li>
                            <li class=""[routerLinkActive]="['link-active']"><a class="icon icon-bubble"[routerLink]="['/setup/fabrics']">Fabrics</a></li>
                            <li class=""[routerLinkActive]="['link-active']"><a class="icon icon-truck"[routerLink]="['/setup/shipper']">Shipper</a></li>
                            <li class="icon icon-arrow-left">
                                <a class="icon icon-female" href="#">Size</a>
                                <div class="mp-level" id="28" onclick="setTitle(28);">
                                    <h2 style="color:white">Size</h2>
                                    <a class="mp-back" href="#" onclick="setTitle(29);">back</a>
                                    <ul>
                                        <li class=""[routerLinkActive]="['link-active']"><a class="icon icon-banknote" [routerLink]="['/setup/size']">Size</a></li>
                                        <li class=""[routerLinkActive]="['link-active']"><a class="icon icon-mail" [routerLink]="['/setup/sizetype']">Size Type</a></li>

                                    </ul>
                                </div>
                            </li>



                        </ul>
                    </div>
                </li>
<li class="" [routerLinkActive]="['link-active']"><a class="icon icon-calendar" [routerLink]="['/vendor']">Vendor</a></li>
 <li class="" [routerLinkActive]="['link-active']"><a class="icon icon-data" [routerLink]="['/items']">Items</a></li>
    <li class="" [routerLinkActive]="['link-active']"><a class="icon icon-user" [routerLink]="['/clients']">Clients</a></li>
 <li class="" [routerLinkActive]="['link-active']"><a class="icon icon-banknote" [routerLink]="['/inventory']">Inventory</a></li>
  <li class="icon icon-arrow-left">
                    <a class="icon icon-cloud" href="#">Web Portal</a>
                    <div class="mp-level">
                        <h2 style="color:white">Web Portal</h2>
                        <a class="mp-back" href="#">back</a>
                        <ul>
                          <li class="" [routerLinkActive]="['link-active']"><a [routerLink]="['/webportal/specials']">Specials</a></li>
    <li class="" [routerLinkActive]="['link-active']"><a [routerLink]="['/webportal/clearance']">Clearance</a></li>
       <li class="" [routerLinkActive]="['link-active']"><a [routerLink]="['/webportal/newarrivals']">New Arrivals</a></li>
  
         </ul>
                    </div>
                </li>

                <li class="icon icon-arrow-left">
                    <a class="icon icon-camera" href="#">Reports</a>
                    <div class="mp-level">
                        <h2 style="color:white">Report</h2>
                        <a class="mp-back" href="#">back</a>
                        <ul>
                                               <li class="" [routerLinkActive]="['link-active']"><a [routerLink]="['/reports/inventory']">Inventory</a></li>
    <li class="" [routerLinkActive]="['link-active']"><a [routerLink]="['/reports/pnl']">PNL</a></li>
       <li class="" [routerLinkActive]="['link-active']"><a [routerLink]="['/reports/balancesheet']">Balance Sheet</a></li>
                                                 <li class="" [routerLinkActive]="['link-active']"><a [routerLink]="['/reports/drops']">Drops</a></li>
    <li class="" [routerLinkActive]="['link-active']"><a [routerLink]="['/reports/deposit']">Deposit</a></li>
       <li class="" [routerLinkActive]="['link-active']"><a [routerLink]="['/reports/custom']">Custom</a></li>
  
                         
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </nav>