<div class="ml15 mr15 mt10 mb100">
    <div class="row">
        <div class="col-md-6">
            <h2>Sub Department</h2>
        </div>
        <div class="col-md-6">


        </div>

    </div>
    <div class="row mt15">
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="row form-group mr10">

                    <div class="input-group">
                        <span class="input-group-addon bgblue">Select Department</span>
                        <select class="form-control">
                            <option>Shalwar Kamiz</option>
                            <option>Sarthi</option>
                            <option>3 Pc Suite</option>

                        </select>
                    </div>
                </div>
                    <div class="row form-group mr10">

                        <div class="input-group">
                            <span class="input-group-addon bgblue">Name</span>
                            <input class="text form-control " />
                        </div>
                    </div>
                    <div class="row form-group mr10">

                        <div class="input-group">
                            <span class="input-group-addon bgblue">Markup</span>
                            <input class="text form-control " />
                        </div>
                    </div>
                    <div class="row form-group mr10">

                        <div class="input-group">
                            <span class="input-group-addon bgblue">Image Upload</span>
                            <input id="input-1" type="file" class="file">
                        </div>
                    </div>
                <div class="row form-group mr10">
                    <button type="button" class="btn btn-success "><i class="fa fa-save "></i> Save</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-1">#</th>
                        <th class="col-md-3">Department</th>
                        <th class="col-md-5">Sub Department</th>
                        <th class="col-md-1">Markup</th>
                        <th class="col-md-1">Image</th>
                        <th class="col-md-1 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                       
                        <td>Shalwar Kamiaz</td>
                        <td>Printed</td>
                        <td>30</td>
                        <td>
                            <img src="~/images/indian.jpg" width="20" class="img-circle img-responsive" />
                        </td>
                        <td>

                            <button type="button" class="btn btn-warning "><i class="fa fa-edit "></i> </button>
                        </td>



                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>